@model KNI_D6_web.Model.Event

@{
    ViewData["Title"] = "Подробности о мероприятии";
}

<div>
    <div class="jumbotron">
        <h1 class="display-4">@Model.Name</h1>
        <div>
            <h4>
                <span class="badge badge-pill badge-light">@Model.Date.ToString("dd/MM/yyyy")</span>
                @if (Model.IsSpecial)
                {
                    <span class="badge badge-pill badge-light">Особое мероприятие</span>
                }
            </h4>
        </div>
        <p class="lead">@Model.Description</p>

        <hr class="my-4">
        
        <a class="btn btn-outline-secondary" asp-action="Index">К списку мероприятий</a>
    </div>
</div>
