sudo: true

jobs:
  include:
    - stage: test build 
      language: csharp
      mono: none
      dotnet: 2.2
      script:  
      - dotnet build ./ -c Release
    - stage: build docker
      if: (branch = master)
      dist: trusty
      script: 
      - sudo bash ./scripts/build_docker.sh

    - stage: deploy
      if: (branch = master)
      dist: trusty
      script:
      - sudo apt-get install sshpass
      - sshpass -p $DEPLOY_HOST_USER_PASSWORD scp -o StrictHostKeyChecking=no docker-compose.yml $DEPLOY_HOST_USER@$DEPLOY_HOST_ADDRESS:~/kni_d6;
      - sshpass -p "$DEPLOY_HOST_USER_PASSWORD" ssh -o StrictHostKeyChecking=no $DEPLOY_HOST_USER@$DEPLOY_HOST_ADDRESS bash -s < scripts/deploy_to_prod.sh
