version: '3.2'

services:
    kni_d6_web:
      image: sych474/kni_d6_web:latest
      ports:
        - "80:80"
      depends_on:
        - postgres
      networks:
        - net
      environment:
        - ASPNETCORE_ENVIRONMENT=Development
        
    postgres:
      image: postgres
      restart: always
      ports:
        - "5432:5432"
      volumes: 
        - postgres_data:/var/lib/postgresql/data
      networks:
        - net
      environment:
        - POSTGRES_DB=kni_d6
        - POSTGRES_USER=postgres
        - POSTGRES_PASSWORD=postgres
        
    pgbackups:
      image: prodrigestivill/postgres-backup-local
      restart: always
      volumes:
        - /var/opt/pgbackups:/backups
      links:
        - postgres
      depends_on:
        - postgres
      environment:
        - POSTGRES_HOST=postgres
        - POSTGRES_DB=kni_d6
        - POSTGRES_USER=postgres
        - POSTGRES_PASSWORD=postgres  
        - POSTGRES_EXTRA_OPTS=-Z9 --schema=public --blobs
        - SCHEDULE=@daily
        - BACKUP_KEEP_DAYS=7
        - BACKUP_KEEP_WEEKS=2
        - BACKUP_KEEP_MONTHS=2
        - HEALTHCHECK_PORT=80

networks:
  net:
volumes:
  postgres_data: