version: '3.2'

services:
    kni_d6_web:
      image: sych474/kni_d6_web:latest
      ports:
        - "80:80"
      depends_on:
        - db
      networks:
        - net
      environment:
        - ASPNETCORE_ENVIRONMENT=Development
        
    db:
      image: postgres
      restart: always
      ports:
        - "5432:5432"
      volumes: 
        - ~/kni_d6/pgdata:/var/lib/postgresql/data
      networks:
        - net
      environment:
        - POSTGRES_DB=kni_d6
        - POSTGRES_USER=kni
        - POSTGRES_PASSWORD=Pa$$w0rd_kni
        
    pgbackups:
      image: prodrigestivill/postgres-backup-local
      restart: always
      volumes:
        - ~/kni_d6/pgbackups:/backups
      depends_on:
        - db
      networks:
        - net
      environment:
        - POSTGRES_HOST=db
        - POSTGRES_DB=kni_d6
        - POSTGRES_USER=kni
        - POSTGRES_PASSWORD=Pa$$w0rd_kni  
        - POSTGRES_EXTRA_OPTS=-Z9 --schema=public --blobs
        - SCHEDULE=@daily
        - BACKUP_KEEP_DAYS=7
        - BACKUP_KEEP_WEEKS=2
        - BACKUP_KEEP_MONTHS=2
        - HEALTHCHECK_PORT=80

networks:
  net:
