@model KNI_D6_web.ViewModels.Account.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}

<h1>Изменение пароля</h1>
<div class="row m-3">
    <div class="col-md-5">
        <form method="post" asp-controller="Account" asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Login" />
            <div class="form-group">
                <label asp-for="OldPassword">Пароль</label><br />
                <input class="form-control" asp-for="OldPassword" placeholder="Старый пароль" />
                <span asp-validation-for="OldPassword"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword">Новый пароль</label><br />
                <input class="form-control" asp-for="NewPassword" placeholder="Новый пароль" />
                <span asp-validation-for="NewPassword"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPasswordConfirm">Подтверждение пароля</label><br />
                <input class="form-control" asp-for="NewPasswordConfirm" placeholder="Подтверждение" />
                <span asp-validation-for="NewPasswordConfirm"></span>
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Изменить пароль" />
            </div>
        </form>
    </div>
</div>