@model KNI_D6_web.ViewModels.Achievements.AchievementsViewModel
@using KNI_D6_web.Model;
@{
    ViewData["Title"] = "Достижения";
}


<h1>Достижения</h1>

<div>
    <div class="py-2">
        @foreach (var group in Model.AchievementsInGroups)
        {
            <div class="container rounded rounded-lg m-2 p-2">
                <ul class="list-unstyled">
                    @foreach (var item in group)
                    {
                        <li class="media border bg-light border-secondary rounded rounded-lg p-2 m-1">
                            <!--<img src="..." class="mr-3" alt="...">-->
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">@item.Name</h5>
                                @item.Description
                                <br />
                            </div>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>