@model KNI_D6_web.ViewModels.Achievements.AchievementsProgressViewModel
@{
    ViewData["Title"] = "Прогресс достижений";
}

<h1>Прогресс достижений пользователя @Model.Login</h1>
<div>
    @await Component.InvokeAsync("AchievementsProgress", new { login = Model.Login })
</div>
