
@{
    ViewData["Title"] = "Наши админы";
}

<h1>Наши админы</h1>

<ul>
    <li class="btn-link">
        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="UserDetails" asp-route-id="cc216379-6c4b-46e9-ae92-5f13a93a759d">Свят</a>
    </li>
    <li class="btn-link">
        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="UserDetails" asp-route-id="2">Катя</a>
    </li>
</ul>