
@{
    ViewData["Title"] = "Наши админы";
}

<h1>Наши админы</h1>

<ul>
    <li class="btn-link">
        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="UserDetails" asp-route-id="1">Юра</a>
    </li>
    <li class="btn-link">
        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="UserDetails" asp-route-id="2">Катя</a>
    </li>
</ul>