@{
    ViewData["Title"] = "КНИ \"Шестигранник\"";
}

<div class="text-center">
    <h1 class="display-4">@(User.Identity.IsAuthenticated ? $"Привет, {@User.Identity.Name}!" : $"Привет, незнакомец!")</h1>
</div>
<div>
    <div>
        <p class="text-center">
            <b>КНИ "Шестигранник"</b> - это Клуб Настольных Игр при МГТУ им. Н.Э. Баумана.
        </p>

        <p>
            В нашем клубе студенты, аспиранты и даже преподаватели могут сыграть, пообщаться и приятно разнообразить свой досуг за патрией в настольную игру.
        </p>
        <p>
            Мы играем в разные игры, легкие и веселые, военные и мирные, тактические и стратегические и даже в такие необычные как НРИ (настольные ролевые игры)!
        </p>
        <p>
            По всем вопросам ты можешь писать админам клуба в ВК или связаться с нами по телефонам:
            <br>
            8-919-720-67-11 Святослав (Председатель КНИ)
            <br>
            8-... Юра (Секретать, админ КНИ)
            <br>
            <br>
            Приходи к нам играть!
        </p> 
    </div>
    <div class="text-center">
        <img src="~/img/logo/cubes.png" width="400" height="400" class="d-inline-block align-top" alt="">
    </div>
</div>
