@model IEnumerable<KNI_D6_web.Model.Parameters.Parameter>

@{
    ViewData["Title"] = "Параметры";
}

<h1>Параметры</h1>

<div class="text-center">
    <a class="btn btn-outline-primary m-2" asp-action="Create">Добавить новый параметр</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a class="btn btn-warning ml-1" asp-action="Edit" asp-route-id="@item.Id"> Изменить </a>
                    <a class="btn btn-danger ml-1" asp-action="Delete" asp-route-id="@item.Id"> Удалить </a>
                </td>
            </tr>
        }
    </tbody>
</table>
